@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Exo 2', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-image: radial-gradient( circle,#00000056 50%,
					#050b2752 95%), 
						url('https://i.ibb.co/SwXmw7P/XANDEUM-GLOBAL-BG.png'); */
	/* background-image: url("https://i.ibb.co/SwXmw7P/XANDEUM-GLOBAL-BG.png");  */
	background-color: #08113b; 
	/* height: 160vh;  */
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	background-attachment: fixed;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.border-xnd {
  border-radius: 6px !important;
}

/* Keyframe animations for terms div */
@keyframes showAnimation {
  from {
      opacity: 0;
      height: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      height: 5rem;
      transform: translateY(0);
  }
}

@keyframes hideAnimation {
  from {
      opacity: 1;
      height: 5rem;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      height: 0;
      transform: translateY(-10px);
  }
}

/* Classes for animations */
.animate-show {
  animation: showAnimation 0.5s ease forwards;
}

.animate-hide {
  animation: hideAnimation 0.5s ease forwards;
}


/* Base styles for the animated border */
.border-gradient-flow {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 102%;
  height: 110%;
  border: 20px solid transparent; /* Define the border width */
  background: linear-gradient(90deg, #fda31b, #622657, #198476) border-box;
  background-size: 300% 300%; /* Extend the gradient size for smooth animation */
  animation: gradient-flow 4s linear infinite;
}

/* Keyframes for the gradient flow */
@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Define the animation */
@keyframes enlargeAndShrink {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.5); /* Enlarge to 1.5x size */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

/* Apply the animation to the emoji */
.animate-emoji {
  display: inline-block; /* Required for transform to work properly */
  animation: enlargeAndShrink 2s reverse; /* Run the animation every 2 seconds */
}

/* hide .animate-emoji on mobile screens */
@media (max-width: 767px) {
  .emoji-sm {
    display: none;
  }
}

/* Define the spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the spin animation */
.spin {
  animation: spin 1s linear infinite; /* Rotate continuously */
}